*{
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* masuk ke bagian header */
header.navbar-container {
    background-color: #B4B4B3;
    max-width: 100%;
    width: 100%;
    display: flex;
    margin-inline: auto;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    z-index: 99999;
    position: sticky;
    top: 0;
}

header.navbar-container .navbar-list ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}
header.navbar-container .navbar-list li {
    list-style-type: none;
}
   
header.navbar-container .navbar-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}
   
header.navbar-container .navbar-list li:hover a {
    background-color: black;
    color: white;
}

/* anmasi logo */
.button {
    display: flex;
}
  
.box {
    background-color: #B4B4B3;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: black;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
  
.box:before {
    content: "U";
    position: absolute;
    top: 0;
    color: white;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
}
  
.box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 's';
}
  
.box:nth-child(3)::before {
    content: 'r';
}
  
.box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'i';
}
  
.box:nth-child(5)::before {
    content: 'Y';
}

.box:nth-child(6)::before {
    transform: translateY(-100%);
    content: 'u';
}

.box:nth-child(7)::before {
    content: 's';
}

.box:nth-child(8)::before {
    transform: translateY(-100%);
    content: 'r';
}

.box:nth-child(9)::before {
    content: 'o';
}

.box:nth-child(10)::before {
    transform: translateY(-100%);
    content: 'n';
}
  
.button:hover .box:before {
    transform: translateY(0);
}
/* animasi logo selesai */
/* bagian header navbar selesai */

/* bagian main */
main {
    max-width: 1200px;
    margin-inline: auto;
    padding: 3rem 4rem;
    flex: 1;
   
    display: flex;
    align-items: center;
}

main .content {
    flex: 1;
    display: flex;
    align-items: center;
}
   
main .content .content-description {
    flex: 1 1;
}
   
main .content .content-description .title {
    font-size: 2.7rem;
    margin-block: 1rem;
}

main .content .content-description p {
    line-height: 1.7rem;
    font-size: 1rem;
}
   
/* supaya si gambar bisa berada di tengah" kontainer */
main .content .content-image {
    flex: 1;
    display: flex;
}
   
main .content .content-image img {
    margin: auto;
    min-width: 200px;
    width: 200px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}
/* bagian konten main selesai */

/* bagian main aside */
aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
    z-index: 99999;
}
   
aside .social-media {
    height: 100%;
    display: flex;
}
   
aside .social-media ul {
    padding: 1.5rem 1rem;
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: black;
   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
   
aside .social-media li {
    list-style-type: none;
}

aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all .1s ease-in-out;
}
   
aside .social-media li a:hover {
    color: #89b0d9;
}
/* bagian aside selesai */

/* bagian sertifikat */
.sertif-teks h2 {
    text-align: center;
    font-size: 1.5rem;
}

.content-sertif {
    max-width: 1200px;
    margin-inline: auto;
    padding: 3rem 0;
    flex: 1;
    margin-bottom: 50px;
   
    display: flex;
    align-items: center;
}

.sertifikat {
    flex: 1;
    display: flex;
    align-items: center;
}

.sertifikat .content-imag {
    flex: 1;
    display: flex;
}
   
.sertifikat .content-imag img {
    margin: auto;
    min-width: 250px;
    width: 250px;
    cursor: pointer;
}
/* bagian sertifikat selesai */

/* bagian projek */
.projek-teks h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container {
    position : relative;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-warp : warp;
    padding : 30px;  

    width: 80%;
    margin: auto;
}

.container-card {
    flex: 1;
    display: flex;
    align-items: center;
}
  
.card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 90px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}

.container .card:hover {
    height : 320px;    
}
   
.container .card .image {
    position : relative;
    width : 300px;
    height : 260px;  
    top : -40%;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
}
  
.container .card .image img {
    max-width : 100%;
    border-radius : 15px;
}
  
.container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
}
  
.container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
}

/* button super sus */
.content a {
    text-decoration: none;
}

button {
  display: flex;
  margin-left: 80px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 15px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
}

button:active {
  transform: scale(.9);
  transition: all 100ms ease;
}

button svg {
  transition: all .5s ease;
  z-index: 2;
}

.play {
  transition: all .5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all .5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}
/* bagian code selesai */

/* bagian footer */
footer {
    padding: 8.5px;
    height: 50px;
    color: #fff;
    background-color: black;
    text-align: center;
}
   

/* Medium devices -hp- (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
    .box {
        background-color: #B4B4B3;
    }
    header.navbar-container {
      flex-direction: column;
      background-color: #B4B4B3;
      position: sticky;
      top: 0;
    }
    header.navbar-container .navbar-list ul {
        margin-top: 20px;
    }
    main .content {
        flex-direction: column;
        gap: 2rem;
    }
    main .content .content-description .title {
        font-size: 1.5rem;
    }     
    main .content .content-description p {
        font-size: .9rem;
    }
    main .content .content-image img {
        margin: auto;
        min-width: 170px;
        width: 170px;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    }
    main .content .content-description button {
        padding: .6rem 2rem;
        margin-block-start: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
        font-family: 'Quicksand', sans-serif;
        color: white;
       
        border: 3px solid transparent;
        border-radius: 999px;
        background-color: black;
        cursor: pointer;
        transition: all .15s ease-in;
    }
    main .content .content-description button a{
        text-decoration: none;
        color: white
    }
    main .content .content-description button:hover a {
        color: black;
    }
    .content-sertif .sertifikat{
        flex-direction: column;
        gap: 2rem;
    }
    .container .container-card{
        flex-direction: column;
        gap: 2rem;
    }
}
